<div class="d-flex justify-content-center mt-5">
    <h2>CONSULTAR PEDIDO</h2>
</div>

<div class="container busqueda d-flex justify-content-center my-5">
    <form action="consultar" method="post">
        <div class="search-bar">
            <div id="select">
                <p class="mt-3" id="selectText">Todas las Categorías</p>
                <i class="fa-solid fa-arrow-down fa-lg"></i>
                <ul id="list">
                    <li class="options mt-2">Todas las Categorías</li>
                    <li class="options">ID</li>
                    <li class="options">Cedula del Cliente</li>
                    <li class="options">Nombre del Equipo</li>
                    <li class="options mb-2">Fecha de Inicio</li>
                </ul>
            </div>
            <div class="elegido">

            </div>
            <input type="text" id="inputField" name="campo" placeholder="Buscar en Todas las Categorías">
            <button type="submit" class="btn btn-primary rounded-0 formulario">
                <i class="fa-solid fa-magnifying-glass fa-lg fa-beat"></i></button>
        </div>
    </form>
</div>
<br>
{{#if pedidos}}
<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Pedido</th>
                {{#if user.tipo}}
                    <th scope="col">Recepcionista encargado</th>
                {{/if}}
                <th scope="col">Nombre del Cliente</th>
                <th scope="col">Nombre del Equipo</th>
                <th scope="col">Fecha de inicio del pedido</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each pedidos}}
            <tr>
                <th scope="row">{{id_Pedido}}</th>
                {{#if ../user.tipo}}
                    <td scope="col">{{recepcionista}}</td>
                {{/if}}
                <td>{{nombre}}</td>
                <td>{{nombre_EQUIPO}}</td>
                <td>{{dateFormat fecha_inicio "YYYY-MM-DD"}}</td>
                <td>
                    <div class="container p-0 m-0">
                        <div class="row">
                            <div class="col-sm-6">
                                <form action="verPedido" method="post">
                                    <input class="form-control" type="id" placeholder="Hidden input" id="id_pedido"
                                        name="id_pedido" value={{id_Pedido}} hidden="true">
                                    <button type="submit" class="btn btn-warning text-light rounded-1">
                                        <i class="fa-solid fa-plus fa-beat"></i></button>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <form action="eliminar" method="post">
                                    <input class="form-control" type="id" placeholder="Hidden input" id="id_pedido"
                                        name="id_pedido" value={{id_Pedido}} hidden="true">
                                    <button type="submit" class="btn btn-danger rounded-1">
                                        <i class="fa-solid fa-xmark fa-beat"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
<script src="js/JavaScript.js"></script>