<section class="h-100 h-custom gradient-custom-2 p-4">
    <div class="row d-flex justify-content-center align-items-center bg-light pe-5 ps-5">
        <div class="container m-4">
            <div class="row">
                <div class="col-12 col-sm-8">
                    <h2 class="titulo_registrar">Consultar Pedido</h2>
                </div>
                <div class="col-12 col-sm-4 d-flex align-items-center">
                    {{#each pedido}}
                    <form action="actualizar" method="post">
                        <input class="form-control" type="id" placeholder="Hidden input" id="id_pedido"
                                        name="id_pedido" value={{id_Pedido}} hidden="true">
                        <button type="submit" class="btn btn-danger rounded-1">
                            FINALIZAR PEDIDO</button>
                    </form>
                    {{/each}}
                </div>
            </div>
        </div>
        <hr>
        <h2 class="fs-1">Datos del cliente</h2>
        <form action="welcome" method="post">
            {{#each pedido}}
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Cedula del cliente</label>
                        <p>{{id_Cliente}}</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Nombre</label>
                        <p>{{nombre}}</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Nombre del equipo</label>
                        <p>{{nombre_EQUIPO}}</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Celular/teléfono</label>
                        <p>{{telefono}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <h2 class="fs-1">Datos del pedido</h2>
            <h2 class="fs-2">Direccion</h2>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">País</label>
                        <p>{{pais}}</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Ciudad</label>
                        <p>{{ciudad}}</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Dirección</label>
                        <p>{{direccion}}</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Estado del pedido: </label>
                        <p>{{estado_pedido}}</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Costo del pedido: </label>
                        <p>{{costo}}</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-outline mb-4">
                        <label class="form-label login_item" for="form3Example3">Descripción</label>
                        <p>{{descripcion}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            <hr>
            <div class="container m-0 pt-4 pb-4">
                <h2 class="fs-1">Datos de los productos</h2>
            </div>
            <div class="container p-0 m-0 outputProducto">
                {{#each producto}}
                <div class="pt-2 pb-2">
                    <h4>Producto #{{id_Producto}} </h4>
                </div>
                <div class="container p-0 m-0">
                    <div class="row fila_1">
                        <div class="col-12 col-md-6 col-lg-4 pt-2 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="form3Examplev4">Tipo del producto</label>
                                <p>{{tipo}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 pt-2 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="form3Examplev4">Sexo:</label>
                                <p>{{sexo}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 pt-2 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="form3Examplev4">Color:</label>
                                <p>{{color}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 pt-2 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="form3Examplev4">El producto presenta
                                    sublimado:</label>
                                <p>{{sublimado}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 pt-2 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="form3Examplev4">El producto presenta
                                    bordado:</label>
                                <p>{{bordado}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 pt-2 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="form3Examplev4">El producto presenta
                                    estampado:</label>
                                <p>{{estampado}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12 col-md-6 pt-2 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="form3Examplev4">Cantidad del
                                    producto:</label>
                                <p>{{cantidad}}</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 pt-2 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="form3Examplev4">Costo:</label>
                                <p>{{costo}}</p>
                            </div>
                        </div>
                        <div class="col-12 pt-2 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="form3Examplev4">Descripción:</label>
                                <p>{{descripcion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {{/each}}
            </div>
            <a href="/consultar" class="btn btn-dark btn-block btn-lg mb-4">
                Volver
            </a>
        </form>
    </div>
</section>