<!-- ======= Hero Section ======= -->
<section class="hero-section" id="hero">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 container">
                <div class="row">
                    <div class="col-lg-7 text-center text-lg-start container">
                        <h1 data-aos="fade-right">Bienvenido usuario {{user.nombre}}</h1>
                        <p>A continuación se encuentras las opciones para registrar un pedido nuevo y consultar sobre un pedido, en donde en este último podrá editarlo.</p>
                        {{#if user.tipo}}
                        <div class="row pe-5 text-center">
                                <div class="col-12 col-lg-4">
                                    <div class="d-grid gap-2 my-2">
                                        <a class="btn btn-dark" href="/registrar">Registrar Pedido</a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="d-grid gap-2 my-2">
                                        <a class="btn btn-dark" href="/consultar">Consultar Pedido</a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="d-grid gap-2 my-2">
                                        <a class="btn btn-dark" href="/administrar">Administrar Usuarios</a>
                                    </div>
                                </div>
                        </div>
                        {{else}}
                        <div class="row text-center p-2">
                            <div class="col-12 col-lg-6">
                                <div class="d-grid gap-2 my-2">
                                    <a class="btn btn-dark" href="/registrar">Registrar Pedido</a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="d-grid gap-2 my-2">
                                    <a class="btn btn-dark" href="/consultar">Consultar Pedido</a>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <div class="col-lg-5 iphone-wrap ">
                        <img src="images/uniforme1.png" alt="Image" class="phone-1" data-aos="fade-right">
                        <img src="images/uniforme2.png" alt="Image" class="phone-2" data-aos="fade-right"
                            data-aos-delay="200">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" id="pedidos">
    <p class="mb-5" data-aos="fade-right" data-aos-delay="100">Los pedidos que se encuentran
        actualmente
        registrados son:</p>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Pedido</th>
                    {{#if user.tipo}}
                    <th scope="col">Recepcionista encargado</th>
                    {{/if}}
                    <th scope="col">Nombre del Cliente</th>
                    <th scope="col">Nombre del Equipo</th>
                    <th scope="col">Fecha de inicio del pedido</th>
                    <th scope="col">Estado del pedido</th>
                </tr>
            </thead>
            <tbody>
                {{#each pedidos}}
                <tr>
                    
                    <th scope="row">{{id_Pedido}}</th>

                    {{#if ../user.tipo}}
                    <td scope="col">{{recepcionista}}</td>
                    {{/if}}

                    <td>{{nombre}}</td>
                    <td>{{nombre_EQUIPO}}</td>
                    <td>{{dateFormat fecha_inicio "YYYY-MM-DD"}}</td>
                    <td>{{estado_pedido}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

<!-- End Hero -->